@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.menu
	width: 100%
	height: 80px
	background-color: $accent
.logo
	margin: 15px 0 0 30px
	float: left
.date
	color: #fff
	margin: 15px 0 0 30px
	float: left
	h3
		font-size: 16px
		font-weight: 500
		margin: 0
		padding: 0
	p
		font-size: 14px
		font-weight: 500
		margin: 0
		padding: 0

.user-block
	margin: 25px 20px 0 0
.user-panel
	display: inline
	float: right
	.fa
		color: #fff
		font-size: 24px
		margin: 0 0 0 20px
		
		
.user
	float: right
	h3
		font-size: 16px
		font-weight: bold
		color: #fff
		float: right
		margin: 4px 15px 0 35px
.user-img
	width: 50px
	height: 50px
	background-color: #5e5e5e
	border-radius: 50%
	float: right
	position: relative
	top: -10px

.left-panel
	height: 100%
	position: fixed
	background-color: #373737
.main
	background-color: #373737

.main-2
	background-color: #f6f6f6
	margin-left: 96px	

.main-3
	margin-left: 392px
	height: auto

.buttons
	margin: 15px 0 15px 0

.blue
	width: 100%
	height: 68px
	background-color: #33658a
	border-radius: 6px

.orande
	width: 100%
	height: 68px
	background-color: #dc9735
	border-radius: 6px

.red
	width: 100%
	height: 68px
	background-color: #d65b4a
	border-radius: 6px
.s-button
	background-color:#33658A
	border-radius: 4px
a
	color: #fff
	font-size: 14px
	
	
a:hover
	text-decoration: none
p
	display: inline
	margin-left: 10px	
	
.s-button:hover
	background-color: #4e9cdf

// P
.butun-jurnal
	color: #b4b4b4
	margin-right: 30px

.aaa
	float: left
	p
		color: #505050
		font-weight: bolder
	a
		color: #4e9cdf
		text-decoration: underline
		margin-left: 40px

.bbb
	float: right

th
	color: #fff
	font-weight: 400


select
	height: 35px
	background-color: #FFF
	position: relative
	top: 0px
	bottom: 5px
	border-radius: 5px 


//CHECKBOXES//
.table-board
	margin-top: 50px
select
	margin-left: 10px
select:last-child
	margin: 0
	padding: 0
.head-box
	font-size: 12px
	padding-left: 25px
.head-box:last-child
	padding-left: 8px
.checkbox
	cursor: pointer
	input
		display: none
		&:checked+.box
			background-color: #6fc99c
			&:after
				left: 40px - 20px

	.box
		position: relative
		display: block
		float: left
		width: 40px
		height: 20px
		background-color: #c82d3b
		border-radius: 50px
		margin-right: 2px
		margin-top: 6px
		transition: background-color 0.2s ease-in-out
		

		&:after 
			content: ''
			position: absolute
			width: 18px
			height: 18px
			background-color: #FFF
			border-radius: 50%
			left: 2px
			top: 1px
			transition: left 0.2s ease-in-out
//CHECKBOXES END//			

@import "media" // Всегда в конце
